{% extends 'hospital/homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Admin</h1>
  <p class="lead">Welcome to eMedi Hospital System</p>
  <hr class="my-4">
  <p>Only Authorized Users are allowed to use this page!!.</p>
  <p class="lead">
    {% comment %} <a class="btn btn-primary btn-lg" href="/adminsignup" role="button">SignUp</a> {% endcomment %}
    <a class="btn btn-primary btn-lg" href="/adminlogin" role="button">Login</a>
  </p>
</div>
<!--
developed By : @haru-voster
send me an email via
||
My page: https://haru-voster.github.io/portifolio
-->

{% endblock content %}
