<!DOCTYPE html>
{% load static%}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>@eMedi || Haroun</title>


  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>
</head>

<body>
  {% include "hospital/navbar.html" %}
  <br>
  <br>
  <div class="jumbotron" style="margin-top: 0px;
  margin-bottom: 0px;">
     <!-- Logout Form -->
  <form action="{% url 'logout' %}" method="post" style="display: inline;">
      {% csrf_token %}
    <h1 class="display-4">Hello {{request.user.first_name}}</h1>
    <p class="lead">Your Account is not approved till now <br><br>Our Team is checking your profile <br><br> Soon your account will be confirmed !!!</p>
    <hr class="my-4">
    <p>Check Later</p>
    <p class="lead">
      <button type="submit" class="btn btn-link nav-item nav-link" style="color: white; background-color: #0182e8; display: block; margin: 0 auto; padding: 10px 20px; border-radius: 5px;">Logout for now</button>
    </p>
  </div>
</form>
<script>
  setTimeout(function() {
    fetch("{% url 'auto_approve_patient' %}", {
      method: "GET",
      headers: {
        "X-Requested-With": "XMLHttpRequest"
      }
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        window.location.href = data.redirect_url;  // Redirect to patient dashboard
      }
    })
    .catch(error => console.error("Error auto-approving patient:", error));
  }, 10000);  // 10 seconds delay
</script>

  {% include "hospital/footer.html" %}
</body>
<!--
developed By : @haru-voster
send me an email via
||
My page: https://haru-voster.github.io/portifolio
-->

</html>
